html, body, #root, .App {
  height:100%;
  background: #007bff!important;
}

main {
  background: white;
  width: 65%;
  margin: 2em auto;
}

input, textarea {
  width:100%;
}

section {
  margin: 1em;
  padding: 1em;
}

.display {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  min-width:250px;
  width: 45%;
  padding: 2%;
  margin: 2.5%;
  text-align: center;
  box-shadow: 5px 5px 5px #4ea4ff;
  border: 1px solid #3597ff;
}

.card-title {
  margin:0;
  padding:0;
}



@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
nav button {
  background: transparent;
  border: none;
}
nav button:hover {
  cursor: default;
}
nav button:focus {
  outline: none;
}
.hidden {
  display: none;
}
.smurfs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}